In [1]:
import numpy as np
import pandas as pd
import seaborn as sn
import matplotlib.pyplot as plt

In [2]:
df1 = pd.read_csv('train (2).csv')

In [3]:
df1.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [4]:
df1.shape

(7613, 5)

In [5]:
# df1[df1['keyword'] == ]

In [6]:
df1.isnull().sum()

id             0
keyword       61
location    2533
text           0
target         0
dtype: int64

In [7]:
df2 = df1

In [8]:
df1

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
...,...,...,...,...,...
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1

In [9]:
df2.shape

(7613, 5)

In [10]:
df2.head(10)

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
5,8,NaN,NaN,#RockyFire Update => California Hwy. 20 closed...,1
6,10,NaN,NaN,#flood #disaster Heavy rain causes flash flood...,1
7,13,NaN,NaN,I'm on top of the hill and I can see a fire in...,1
8,14,NaN,NaN,There's an emergency evacuation happening now ...,1
9,15,NaN,NaN,I'm afraid that the tornado is coming to our a...,1

In [11]:
df2.iloc[1].text

'Forest fire near La Ronge Sask. Canada'

In [12]:
df2.tail(10)

,id,keyword,location,text,target
7603,10862,NaN,NaN,Officials say a quarantine is in place at an A...,1
7604,10863,NaN,NaN,#WorldNews Fallen powerlines on G:link tram: U...,1
7605,10864,NaN,NaN,on the flip side I'm at Walmart and there is a...,1
7606,10866,NaN,NaN,Suicide bomber kills 15 in Saudi security site...,1
7607,10867,NaN,NaN,#stormchase Violent Record Breaking EF-5 El Re...,1
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1

In [13]:
X = df2[['id','keyword','location','text']]
y = df2[['target']]

In [14]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2,random_state = 42)

In [15]:
X_train.head()

,id,keyword,location,text
4996,7128,military,Texas,Courageous and honest analysis of need to use ...
3263,4688,engulfed,NaN,@ZachZaidman @670TheScore wld b a shame if tha...
4907,6984,massacre,Cottonwood Arizona,Tell @BarackObama to rescind medals of 'honor'...
2855,4103,drought,"Spokane, WA",Worried about how the CA drought might affect ...
4716,6706,lava,"Medan,Indonesia",@YoungHeroesID Lava Blast &amp; Power Red #Pan...

In [16]:
X_train[X_train['id']==9552].text

6664    Generational Â‰Ã›Ã·British schismÂ‰Ã›Âª over privacy...
Name: text, dtype: object

In [17]:
import re
def remove_special_characters(text):
    pattern = r'[^a-zA-Z0-9\s]'
    cleaned_text = re.sub(pattern, '', str(text))
    return cleaned_text

In [18]:
X_train['text'] = X_train['text'].apply(lambda x:remove_special_characters(x))

In [19]:
X_test['text'] = X_test['text'].apply(lambda x:remove_special_characters(x))

In [20]:
X_train['location'] =X_train['location'].apply(lambda x:remove_special_characters(x))

In [21]:
X_test['location'] =X_test['location'].apply(lambda x:remove_special_characters(x))

In [22]:
# X_train['text'] = X_train['text'].apply(lambda x:remove_special_characters(x))
# X_train['location'] =X_train['location'].apply(lambda x:remove_special_characters(x))
# X_train['location'] =X_train['location'].apply(lambda x:x.replace(" ",""))
# X_train['keyword'] = X_train['keyword'].apply(lambda x:remove_special_characters(x))

In [23]:
X_train['location'] =X_train['location'].apply(lambda x:x.replace(" ",""))

In [24]:
X_test['location'] =X_test['location'].apply(lambda x:x.replace(" ",""))

In [25]:
X_train['keyword'] = X_train['keyword'].apply(lambda x:remove_special_characters(x))

In [26]:
X_test['keyword'] = X_test['keyword'].apply(lambda x:remove_special_characters(x))

In [27]:
X_test['keyword'] = X_test['keyword'].replace('nan', '')
X_test['location'] = X_test['location'].replace('nan', '')

X_train['keyword'] = X_train['keyword'].replace('nan', '')
X_train['location'] = X_train['location'].replace('nan', '')

In [28]:
X_train['tags'] = X_train['keyword'] + " " +X_train['location']+" "+X_train['text']

In [29]:
X_test['tags'] = X_test['keyword'] + " " +X_test['location']+" "+X_test['text']

In [30]:
X_test.shape

(1523, 5)

In [31]:
X_train['tags'] = X_train['tags'].apply(lambda x: x.lower())

In [32]:
# X_test['tags'] = X_test['keyword'] + " " +X_train['location']+" "+X_train['text']
X_test['tags'] = X_test['tags'].apply(lambda x: x.lower())

In [33]:
X_ntrain = X_train[['id','tags']]
X_ntest = X_test[['id','tags']]

In [34]:
import nltk

In [35]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [36]:
def stem(text):
    y =[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [37]:
X_ntest['tags'] = X_ntest['tags'].apply(stem)

C:\Users\vidhi\AppData\Local\Temp\ipykernel_10840\1527061018.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_ntest['tags'] = X_ntest['tags'].apply(stem)

In [38]:
X_ntrain['tags'] = X_ntrain['tags'].apply(stem)

C:\Users\vidhi\AppData\Local\Temp\ipykernel_10840\3940474182.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_ntrain['tags'] = X_ntrain['tags'].apply(stem)

In [39]:
X_ntest

        id                                               tags
2644  3796  destruct so you have a new weapon that can cau...
2227  3185  delug the famp thing i do for gishwh just got ...
5448  7769  polic uk dt georgegalloway rt galloway4mayor t...
132    191  aftershock aftershock back to school kick off ...
6845  9810  trauma montgomerycountymd in respons to trauma...
...    ...                                                ...
1835  2640  crash somewher smusx16475 skype just crash u host
506    731  attack arundel christian attack by muslim at t...
3592  5131  fatal newsouthwalesaustralia man charg over fa...
6740  9657  thunderstorm usnwsgov sever weather statement ...
1634  2361  collaps great british ltbgtbakeltbgt off back ...

[1523 rows x 2 columns]

In [40]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [41]:
tf = TfidfVectorizer(max_features=3000, stop_words='english')

In [42]:
vectors_x = tf.fit_transform(X_ntrain['tags'])

In [43]:
vectors_y =tf.fit_transform(X_test['tags'])

In [44]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score, classification_report

In [45]:
mb = MultinomialNB()

In [46]:
mb.fit(vectors_x,y_train)

c:\users\vidhi\appdata\local\programs\python\python38\lib\site-packages\sklearn\utils\validation.py:1183: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MultinomialNB()

In [47]:
y_pred = mb.predict(vectors_y)

In [48]:
acc = accuracy_score(y_test,y_pred)

In [49]:
print(acc)

0.5784635587655942

In [50]:
sub = pd.read_csv("sample_submission (2).csv")

In [51]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression


dtc = DecisionTreeClassifier(random_state = 42)
sv = SVC(kernel='linear', C=1, random_state=42)
rf = RandomForestClassifier(n_estimators=100, random_state=42)
logc = LogisticRegression(random_state=42)

In [52]:
dtc.fit(vectors_x,y_train)
y_dtc = dtc.predict(vectors_y)
print(accuracy_score(y_test,y_dtc))

0.5633617859487853

In [53]:
sv.fit(vectors_x,y_train)
y_sv = sv.predict(vectors_y)
print(accuracy_score(y_test,y_sv))

c:\users\vidhi\appdata\local\programs\python\python38\lib\site-packages\sklearn\utils\validation.py:1183: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.5863427445830598

In [54]:
rf.fit(vectors_x,y_train)
y_rf = rf.predict(vectors_y)
print(accuracy_score(y_test,y_rf))

c:\users\vidhi\appdata\local\programs\python\python38\lib\site-packages\sklearn\base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

0.5653315824031516

In [55]:
logc.fit(vectors_x,y_train)
y_logc = logc.predict(vectors_y)
print(accuracy_score(y_test,y_logc))

0.5705843729481287

c:\users\vidhi\appdata\local\programs\python\python38\lib\site-packages\sklearn\utils\validation.py:1183: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [56]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=2)

knn.fit(vectors_x,y_train)
y_knn = knn.predict(vectors_y)
print(accuracy_score(y_test,y_knn))

c:\users\vidhi\appdata\local\programs\python\python38\lib\site-packages\sklearn\neighbors\_classification.py:233: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

0.5738673670387393

In [57]:
from sklearn.linear_model import SGDClassifier
clf = SGDClassifier()
clf.fit(vectors_x,y_train)
y_clf = clf.predict(vectors_y)
print(accuracy_score(y_test,y_clf))

0.5837163493105713

c:\users\vidhi\appdata\local\programs\python\python38\lib\site-packages\sklearn\utils\validation.py:1183: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [58]:
df_test = pd.read_csv('test (2).csv')

In [59]:
df_test.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

In [60]:
df_test.shape

(3263, 4)

In [61]:
# df_test.dropna(inplace =True)

In [62]:
df_test

,id,keyword,location,text
0,0,NaN,NaN,Just happened a terrible car crash
1,2,NaN,NaN,"Heard about #earthquake is different cities, s..."
2,3,NaN,NaN,"there is a forest fire at spot pond, geese are..."
3,9,NaN,NaN,Apocalypse lighting. #Spokane #wildfires
4,11,NaN,NaN,Typhoon Soudelor kills 28 in China and Taiwan
...,...,...,...,...
3258,10861,NaN,NaN,EARTHQUAKE SAFETY LOS ANGELES Â‰Ã›Ã’ SAFETY FASTE...
3259,10865,NaN,NaN,Storm in RI worse than last hurricane. My city...
3260,10868,NaN,NaN,Green Line derailment in Chicago http://t.co/U...
3261,10874,NaN,NaN,MEG issues Hazardous Weather Outlook (HWO) htt...
3262,10875,NaN,NaN,#CityofCalgary has activated its Municipal Eme...

In [63]:
df_test['text'] = df_test['text'].apply(lambda x:remove_special_characters(x))
df_test['location'] =df_test['location'].apply(lambda x:remove_special_characters(x))
df_test['location'] =df_test['location'].apply(lambda x:x.replace(" ",""))
df_test['keyword'] = df_test['keyword'].apply(lambda x:remove_special_characters(x))

In [64]:
df_test.head()

   id keyword location                                               text
0   0     nan      nan                 Just happened a terrible car crash
1   2     nan      nan  Heard about earthquake is different cities sta...
2   3     nan      nan  there is a forest fire at spot pond geese are ...
3   9     nan      nan              Apocalypse lighting Spokane wildfires
4  11     nan      nan      Typhoon Soudelor kills 28 in China and Taiwan

In [65]:
df_test['keyword'] = df_test['keyword'].replace('nan', '')
df_test['location'] = df_test['location'].replace('nan', '')

In [66]:
df_test.head()

   id keyword location                                               text
0   0                                  Just happened a terrible car crash
1   2                   Heard about earthquake is different cities sta...
2   3                   there is a forest fire at spot pond geese are ...
3   9                               Apocalypse lighting Spokane wildfires
4  11                       Typhoon Soudelor kills 28 in China and Taiwan

In [67]:
df_test['tags'] = df_test['keyword'] + " " +df_test['location']+" "+df_test['text']

In [68]:
testp = df_test[['id','tags']]

In [69]:
testp['tags'] = testp['tags'].apply(stem)

C:\Users\vidhi\AppData\Local\Temp\ipykernel_10840\2317129886.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  testp['tags'] = testp['tags'].apply(stem)

In [70]:
testp['tags'] = testp['tags'].apply(lambda x: x.lower())

C:\Users\vidhi\AppData\Local\Temp\ipykernel_10840\3309205975.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  testp['tags'] = testp['tags'].apply(lambda x: x.lower())

In [71]:
#1st method 
test_vec = tf.fit_transform(testp['tags'])

In [72]:
test_vec.shape

(3263, 3000)

In [73]:
# mb.predict(test_vec)
clf.predict(test_vec)

array([0, 0, 0, ..., 0, 0, 1], dtype=int64)

In [74]:
result = clf.predict(test_vec)

In [75]:
sub.head()

   id  target
0   0       0
1   2       0
2   3       0
3   9       0
4  11       0

In [76]:
testp.head()

   id                                               tags
0   0                    just happen a terribl car crash
1   2  heard about earthquak is differ citi stay safe...
2   3  there is a forest fire at spot pond gees are f...
3   9                     apocalyps light spokan wildfir
4  11       typhoon soudelor kill 28 in china and taiwan

In [77]:
final = pd.DataFrame({"id":testp["id"],
                    "target":result})
final

         id  target
0         0       0
1         2       0
2         3       0
3         9       0
4        11       1
...     ...     ...
3258  10861       1
3259  10865       0
3260  10868       0
3261  10874       0
3262  10875       1

[3263 rows x 2 columns]

In [78]:
sub.shape

(3263, 2)

In [79]:
final.to_csv("submission1.csv",index=False)